@page "/fetchdata"
@using BlazorAirQuality.Queries
@using BlazorAirQuality.DTOs
@using MediatR
@inject IMediator mediator
@inject HttpClient Http

<PageTitle>Air Quality of various countries</PageTitle>

<h1>Air Quality of various countries</h1>

<p>Encourage air quality</p>

@if (airQualities == null)
{
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
      </div>
    </div>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Count</th>
                <th>Locations</th>
                <th>LastUpdated</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aq in airQualities)
            {
                <tr>
                    <td>@aq.Code</td>
                    <td>@aq.Name</td>
                    <td>@aq.Count</td>
                    <td>@aq.Locations</td>
                    <td>@aq.LastUpdated</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private AirQuality[] airQualities;

    protected override async Task OnInitializedAsync()
    {
        var q = new AirQualityQuery();
        airQualities = await mediator.Send(q);
    }
}